{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company User Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <!-- Section 1 -->
    <section id="section1">
        <h2>Welcome {{ company_user.username }}!</h2>
        <p> Company: {{ company.company_name }}</p>
    </section> 

    <!-- Section 3 - Cards -->
    <section id="section3">
        <h2>Our Services</h2>
        <div class="card-container">
            <!-- Card 2 -->
            <div class="card">
                <h3>Expense</h3>
                <p>Want to submit an Expense. Click on this Link</p>
                <a class="button" href="{% url 'submit_expense' company.id %}">Submit Expense</a>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <h3>Report</h3>
                <p>Want to request a report. Click on this link.</p>
                <a class="button" href="{% url 'report_request' company_user.id %}">Request Report</a>
            </div>
        </div>
    </section>

</body>
</html>
