{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>



    <!-- Section 1 -->
    <section id="section1">
        <h2>Company Name: {{ company.company_name }}</h2>
        <p>Owned By: {{ company.owner}}</p>
  
        <a class="button" href="{% url 'accounts' company.id %}">Check Accounts</a>
        <a class="button" href="{% url 'income' company.id %}">Check Income</a>
        <a class="button" href="{% url 'create_account' company.id %}">Add Accounts</a>
        <a class="button" href="{% url 'add_income' company.id %}">Add Income</a>
    </section>
    <!-- Section 3 - Cards -->
    <section id="section3">
        <h2>Users of {{company.company_name}} </h2>
        <div class="card-container">
            {% for user in users %}
            <div class="card">
                <h3>{{ user.username }}</h3>
                <p>First Name : {{ user.first_name }} </p>
                <p>Last Name : {{ user.last_name}}</p>
                <p>Report Permission : {{ user.report_perm }}</p>
            </div>
            {% empty %}
            <p>No Users are in this Company</p>
            {% endfor %}
        </div>
    </section>


</body>
</html>

