{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

     <!-- Navbar -->
     <div class="navbar">
        <a href="{% url 'owner' %}">Home</a>
        <a href="{% url 'add_company' %}">Add Company</a>
        <a href="{% url 'add_user' %}">Add User</a>

    </div>

    <!-- Section 1 -->
    <section id="section1">
        <h2>Welcome to Account Management System</h2>
        <p>The account management feature involves creating, updating, and retrieving account details. Click to view Companies </p>
    </section>
    

    <!-- Section 3 - Cards -->
    <section id="section3">
        <h2>Company</h2>
        <div class="card-container">
            {% for company in companies %}
            <div class="card">
                <h3>{{ company.company_name }}</h3> 

                <a class="button" href="{% url 'company_detail' company.id %}">Company Detail</a>
            </div>
            {% endfor %}
        </div>
    </section>


</body>
</html>

